<footer class="navbar-fixed-bottom">
Copyright © 2017 <a href="{{ base.url }}/" style="text-decoration: none;">Valadoc Brasil</a> | Esta documentação é licenciada nos mesmos termos <a href="https://github.com/valadoc-br/showcase/blob/master/LICENSE" target="_blank" style="text-decoration: none;">GPL3</a> |
<a href="https://github.com/valadoc-br/showcase/issues" target="_blank" style="text-decoration: none;">Reportar Bug <i class="fa fa-bug"></i></a>
    <br><span style="margin-top: -10;"></a>
</footer>
