<!-- Head -->
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<name name="author" content="Robert San - @robetsanseries"/>
	<meta name="description" content="Valadoc Brasil"/>
	<meta name="keywords" content="Vala, Linguagem de Programação, elementary, elementary OS, Programação, C, GTK, GTK3"/>
	<title>Valadoc Brasil</title>

	<!-- Google Icons / Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Droid+Serif:400|Roboto+Mono:400,500,700,400italic">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- ./END Google Icons / Fonts -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">
	<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
	<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
	<!-- ./END Bootstrap -->

	<!-- Default -->
	<link rel="stylesheet" media="screen" href="{{ site.url }}/assets/css/style.css"></link>
	<script type='text/javascript' src="{{ site.url }}/assets/js/script.js"></script>
	<!-- ./END Default -->
	
	<!-- Effect On World -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- ./END Effect On World -->
</head>
<!-- ./END Head -->