<!-- NAV -->
<nav>
  <div id="search-box">
    <input id="filtro-lista" type="text" placeholder=" buscar" autocompletion="off" autosave="search"/>
  </div>
  <a href="{{ base.url }}/" title="Inicio" style="text-decoration: none;">
        <i class="fa fa-home"></i>
      </a>
  <h3 class="title center">
    &nbsp;&nbsp;<a href="{{ base.url}}/componentes/" style="text-decoration: none;">ShowCase - Valadoc Brasil</a>
  </h3>
  
  <ul id="icon-menu">
    <li>
      <a href="https://www.facebook.com/elementarybr" target="_blank" title="Facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/u/0/communities/117595910220071406293" target="_blank" title="Google+">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
    <li>
      <a href="https://medium.com/elementarybr" target="_blank" title="Medium">
        <i class="fa fa-medium"></i>
      </a>
    </li>
    <li>
      <a href="https://t.me/elementarybr" target="_blank" title="Telegram">
        <i class="fa fa-telegram"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/valadoc-br/showcase" target="_blank" title="Github">
        <i class="fa fa-github fa-lg"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- ./END NAV -->

