<!-- NAV -->
<nav>
  <div id="search-box">
    <input id="filtro-lista" type="text" placeholder="Procurar..." autocompletion="off" autosave="search"/>
  </div>
  <h3 class="title">
    &nbsp;&nbsp;ShowCase - Valadoc Brasil
  </h3>
  <ul>
    <li>
      <a href="https://t.me/elementarybr" target="_blank" title="Telegram">
        <i class="fa fa-telegram""></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/elementarybr" target="_blank" title="Facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/u/0/communities/117595910220071406293" target="_blank" title="Google+">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/valadoc-br/showcase" target="_blank" title="Github">
        <i class="fa fa-github"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- ./END NAV -->

